<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Dev Workshop</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/static/css/material.min.css">
	<script defer src="/static/js/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Attendence</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Web Dev Workshop</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{% url 'index' %}">Attendence</a>
      <a class="mdl-navigation__link" href="{% url 'feedback' %}">Feedback</a>
      <a class="mdl-navigation__link" href="{% url 'contacts' %}">Contacts</a>
      <a class="mdl-navigation__link" target="__blank" href="/static/backend.pdf">Backend Slide</a>
      <a class="mdl-navigation__link" target="__blank" href="/static/frontend.pdf">Frontend Slide</a>    
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
	<div class="mdl-grid">
	  <div class="mdl-cell mdl-cell--2-col"></div>
	  <div class="mdl-cell mdl-cell--8-col">
		<form method="post">
			{% csrf_token %}
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" name="name" type="text" id="name">
		    <label class="mdl-textfield__label" for="name">Name</label>
		  </div><br>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" name="branch" type="text" id="branch">
		    <label class="mdl-textfield__label" for="branch">Branch</label>
		  </div><br>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" name="year" type="text" id="year">
		    <label class="mdl-textfield__label" for="year">Year</label>
		  </div><br>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" name="phone" type="text" id="phone">
		    <label class="mdl-textfield__label" for="phone">Phone</label>
		  </div><br>
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" name="email" type="text" id="email">
		    <label class="mdl-textfield__label" for="email">Email</label>
		  </div><br>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			  Submit
			</button>
		</form>
	  </div>
	  <div class="mdl-cell mdl-cell--2-col"></div>
	</div>
    </div>
  </main>
</div>

</body>
</html>